body {
  font-family: "Nunito", sans-serif;
  background-color: #22223b;
}

#mainNavbar .navbar-brand,
#mainNavbar .nav-link {
  font-family: "Montserrat", sans-serif;
  color: #f2e9e4;
  letter-spacing: 1.1px;
  font-size: 0.9em;
}

#mainNavbar .navbar-brand:hover,
#mainNavbar .nav-link:hover {
  color: #c9ada7;
}

.navbar.scrolled {
  background: #22223bea;
  transition: background 500ms;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #c9ada7;
}

#profile p {
  color: #9a8c98;
}

#profile a {
  color: #f2e9e4;
  text-decoration: none;
}

#profile .soc-med a:hover {
  color: #c9ada7;
}

h3 {
  color: #f2e9e4;
  text-transform: uppercase;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #22223b;
}

section .card {
  background-color: #c9ada7;
}

.card-body ul {
  list-style: none;
}

.skills-img {
  width: 15px;
  height: 15px;
  margin-bottom: 3px;
}

.text-description {
  color: #4a4e69;
}

.card .btn {
  background-color: #4a4e69;
  color: #f2e9e4;
}

.card .btn:hover {
  background-color: #22223b;
}

#contact .form-label {
  color: #9a8c98;
}

.footer {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #909097,
    #2e2e58,
    #22223b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #22223b,
    #2e2e58,
    #22223b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer {
  color: #f2e9e4;
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
